@import url(gradient.css);

:root {
  --imatges: 8;
  --escala: 5;
  --imatge-petita-width: calc(var(--escala)*16px);
  --imatge-petita-height: calc(var(--escala)*9px);
  --imatge-grossa-height: calc(var(--imatges)*var(--imatge-petita-height));
}

div:nth-of-type(2n)>img:first-child,
div:nth-of-type(2n+1)>img:first-child {
  height: var(--imatge-grossa-height);
}

div {
  height: var(--imatge-grossa-height);
}

div:first-of-type img{
  top: 0px;
  left: 0px;
  position: relative;
}
div:first-of-type > img{
}
img {
  height: var(--imatge-petita-height);
  float: left;
  position: relative;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}
div:nth-of-type(3) > img:nth-child(2n){
  bottom: 0px;
}
div:last-of-type > img:nth-child(2n){
  left:0px;
}
div > img:nth-child(2n){
  visibility: visible;
}
