@import url(gradient.css);
:root {
--imatges: 8;
--escala: 5;
--imatge-petita-amplada: calc(var(--escala)*16px);
--imatge-petita-height: calc(var(--escala)*9px);
--imatge-grossa-height: calc(var(--imatges)*var(--imatge-petita-height));
}

img{
  height: var(--imatge-petita-height);
  display: block;
  float:left;
}

table,
tr,
td {
  border-collapse: collapse;
  margin: auto;
  padding: 0;
  line-height: 0;
}
img:nth-child(2n+1):hoover + img {
 z-index:calc(1 + var(--imatges));
  visibility: visible;
}
td {
  padding: 0;
}

img:only-child {
  height: var(--imatge-grossa-height);
}



table:nth-of-type(n+3) img {
  float: none;
}

/*
tr:first-child>td:nth-child(2)>img:first-child {
  height: var(--imatge-grossa-height);
}*/
/*tr:first-child>td:first-child>img:first-child,
tr:nth-child(2)>td:first-child>img:first-child,
tr:nth-child(3)>td:first-child>img:first-child,
tr:nth-child(4)>td:first-child>img:first-child,
tr:nth-child(5)>td:first-child>img:first-child,
tr:nth-child(6)>td:first-child>img:first-child,
tr:nth-child(7)>td:first-child>img:first-child,
tr:last-child>td:first-child>img:first-child {
  height: var(--imatge-petita-height);
}*/
